
  .container-xxl { max-width: 1530px; }
  
  body {
    background-image: url("/img/i-like-food.svg");
    background-color: rgb(243,243,243);
  }
  

  .category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
  }
  
  .category__img:hover {
    transform: scale(1.1);
  }
  
  .category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
  }
  
  .category__img--large {
    height: 330px;
  }
  
  .category__img img {
    width: 100%;
    object-fit: cover;
  }
.category__link1:hover{
  transform: scale(1.1);
  color: rgb(37, 37, 176);
  justify-content: space-between;
}
.category__link1{
    /* font-weight: bolder; */
    font-size: 20px;
    color: white;


}
.d-block{
    align-items: center;
}
.category__name {
    margin-top: 10px; 
    font-size: 16px;
    color: var(--bs-dark);
}
section{
    padding: 100px 0;
  }